<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <title>westarp</title>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=8f15a1c1-f236-453a-9cd6-04346c95dc15&lang=ru_RU" type="text/javascript">
    </script>
  </head>
  <body>
    <noscript>
      <strong>We're sorry but westarp doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
