<template>
  <div class="autos-page">
    <router-link :to="{name: 'index'}">Назад</router-link>
    <h2>Список автобусов</h2>
    <div
      v-for="(auto, index) of autos"
      :key="index"
      class="driver-item">{{ auto.name }}</div>
  </div>
</template>

<script>
export default {
  name: 'AutosPage',
  computed: {
    autos() {
      return this.$store.getters.getAutos;
    },
  },
};
</script>

<style scoped lang="scss">

</style>
