<template>
  <div class="calculate-page">
    <router-link :to="{name: 'index'}">Назад</router-link>
    <h2>Рассчитать маршрут</h2>
    <cities-forms/>
  </div>
</template>

<script>
import CitiesForms from '@/components/CitiesForms.vue';

export default {
  name: 'CalculatePage',
  components: {
    CitiesForms,
  },
};
</script>

<style scoped>

</style>
