<template>
  <div class="drivers-page">
    <router-link :to="{name: 'index'}">Назад</router-link>
    <h2>Список водителей</h2>
    <div
      v-for="(driver, index) of drivers"
      :key="index"
      class="driver-item">{{ driver.name }}</div>
  </div>
</template>

<script>
export default {
  name: 'DriverPage',
  computed: {
    drivers() {
      return this.$store.getters.getDrivers;
    },
  },
};
</script>

<style scoped lang="scss">

</style>
