<template>
  <div class="main">
    <router-link
      :to="{name: 'driver-page'}"
      class="link">На станицу водителей</router-link>
    <router-link
      :to="{name: 'autos-page'}"
      class="link">На станицу автобусов</router-link>
    <router-link
      :to="{name: 'calculate-page'}"
      class="link">Рассчитать маршрут</router-link>
  </div>
</template>

<script>
export default {
  name: 'home',
};
</script>

<style scopped lang="scss">
  .link {
    display: block;
    margin-bottom: 10px;
    text-align: center;
  }
</style>
