<template>
  <div class="cities-form">
    <div class="form-title">Введите названия городов</div>
    <label class="city city-from">
      Откуда
      <input
        v-model="cityFrom"
        type="text"
        class="city-from--input city-input">
    </label>
    <label class="city city-to">
      Куда
      <input
        v-model="cityTo"
        type="text"
        class="city-to--input city-input">
    </label>
    <button
      class="calculate-button"
      @click="calculate()">Рассчитать</button>
    <div
      v-if="error"
      class="error-text">Яндекс снова отвалился</div>
    <div v-if="distance === 0">Так водитель никуда не поедет</div>
    <time-calculator
      v-if="distance"
      :distance="distance"/>
  </div>
</template>

<script>
import api from '@/api';
import TimeCalculator from '@/components/TimeCalculator.vue';

export default {
  name: 'CitiesForms',
  components: {
    TimeCalculator,
  },
  data: () => ({
    cityFrom: '',
    cityTo: '',
    error: false,
    posCityFrom: null,
    posCityTo: null,
    distance: null,
  }),
  computed: {
    isYmapsExist() {
      return !!window.ymaps;
    },
  },
  methods: {
    async calculate() {
      this.error = false;
      this.distance = null;
      this.posCityFrom = await this.coordinateCityFrom();
      this.posCityTo = await this.coordinateCityTo();
      this.calculateDistance();
    },
    coordinateCityFrom() {
      return this.getCoordinate(this.cityFrom);
    },
    coordinateCityTo() {
      return this.getCoordinate(this.cityTo);
    },
    getCoordinate(city) {
      return api.getCoordinate(city)
        .then(data => data.response.GeoObjectCollection.featureMember[0].GeoObject.Point.pos.split(' ')
          .map(coord => Number(coord)))
        .catch(() => {
          this.error = true;
        });
    },
    calculateDistance() {
      this.distance = this.isYmapsExist
        ? window.ymaps.coordSystem.geo.getDistance(this.posCityFrom, this.posCityTo)
        : this.error;
      return this.distance;
    },
  },
};
</script>

<style scoped lang="scss">
  .form-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .city {
    display: block;
    & + .city {
      margin-top: 10px;
    }
  }

  .city-input {
    width: 100%;
    padding: 6px 2px;
    font-size: 14px;
    box-sizing: border-box;
  }

  .calculate-button {
    margin-top: 10px;
    padding: 6px 12px;
    font-size: 16px;
    cursor: pointer;
  }
</style>
