<template>
  <div class="time-calculator">
    <div class="distance">Расстояние в километрах: {{ getDistanceInKm }}км</div>
    <div class="drivers-list">
      <div class="titles">
        <div class="driver-name">Имя водителя</div>
        <div class="driver-auto">Марка автомобиля:</div>
        <div class="driver-time">Время в пути (в днях):</div>
      </div>
      <div
        v-for="(driver, index) of getSortedResult"
        :key="index"
        class="driver">
        <div class="driver-name">{{ driver.name }}</div>
        <div class="driver-auto">{{ driver.bus }}</div>
        <div class="driver-time">{{ getRoundedTime(driver.time )}} д.</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'TimeCalculator',
  props: {
    distance: {
      type: Number,
      required: true,
    },
  },
  computed: {
    getDistanceInKm() {
      return this.distance / 1000;
    },
    drivers() {
      return this.$store.getters.getDrivers;
    },
    getSortedResult() {
      return this.drivers.flatMap(driver => driver.auto.map(auto => ({
        name: driver.name,
        bus: auto.name,
        time: this.getDistanceInKm / (auto.speed * 8),
      }))).sort((a, b) => a.time - b.time);
    },
  },
  methods: {
    getRoundedTime(time) {
      return Math.ceil(time);
    },
  },
};
</script>

<style scoped lang="scss">
  .time-calculator {
    margin-top: 20px;
  }

  .drivers-list {
    margin-top: 20px;
  }

  .titles,
  .driver {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }

  .titles {
    font-weight: bold;
  }

  .driver-name,
  .driver-auto,
  .driver-time {
    padding: 4px 8px;
  }
</style>
